.headerBtn {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.container {
  text-align: center;
}

.title {
  font-size: 2rem;
}

.congrats {
  font-size: 1.5rem;
  color: green;
}

.stats {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
  margin: 4rem;
}

.holeContainer {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.startButton {
    padding: 10px 16px;
    background-color: #ea4c89;
    border-radius: 8px;
    transition: color .1s;
    outline: none;
    border-style: none;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    display: inline-block;
}

.paddingButton {
    margin-top: 4rem;
}

.startButton:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.title {
  width: 100%;
  margin-bottom: 12px;
}

.container {
  margin-top: 64px;
}

.timer,
.congrats {
  margin-bottom: 0px;
  font-size: 24px;
  font-weight: 600;
}

.start-button {
  margin-top: 48px;
}

.hole-container {
  max-width: max-content;
  margin: 4px auto;
  display: grid;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.hole {
  position: relative;
  overflow: hidden;
  width: 75px;
  height: 60px;
  border-radius: 50%;
  background-color: black;
  border: gray solid 2px;
  border-bottom-width: 8px;
  cursor: pointer;

  & img {
    cursor: pointer;
    object-fit: fill;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: show-mole 200ms linear forwards;
  }
}

.header-btn {
  position: absolute;
  display: flex;
  gap: 12px;
  right: 10px;
  top: 10px;
}

.close-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 4px;
}

.reset-btn {
  position: absolute;
  left: 10px;
  top: 10px;
  padding: 6px 12px;
}

.score-records {
  width: 100%;
  height: 100vh;
  max-width: 390px;
  position: fixed;
  right: 0;
  top: 0;
  background: #242424;
  border-left: solid 1px white;
}

.table-container {
  height: calc(100vh - 96px);
  overflow-y: scroll;
}

.table {
  display: table;
  margin: auto;
  max-height: 90vh;
}

.thead {
  position: sticky;
  top: 0;
  background: #242424;
}

.row {
  display: table-row;
}

.cell {
  display: table-cell;
  border-bottom: solid 1px white;
}

.row,
.cell {
  padding: 10px;
}

@keyframes show-mole {
  from {
    top: 70%;
  }
  to {
    top: 50%;
  }
}
